force-app/main/default/flows/Clinical_Requirement_Auto_Activate_Trial_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Flag_Incomplete_If_Not_Completed</name>
        <label>Flag Incomplete If Not Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAllRequirementsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Increment_Requirement_Count</name>
        <label>Increment Requirement Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequirementCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Requirement_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Requirements_Exist</name>
        <label>Any Requirements Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Requirements</defaultConnectorLabel>
        <rules>
            <name>Has_Requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequirementCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignment_Active_Flag</targetReference>
            </connector>
            <label>Has Requirements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Requirement_Completed</name>
        <label>Is Requirement Completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Requirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Requirements.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Incomplete_If_Not_Completed</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clinical Requirement – Auto Activate Trial Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clinical Requirement – Auto Activate Trial Assignment</label>
    <loops>
        <name>Loop_Through_Requirements</name>
        <label>Loop Through Requirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Requirements_For_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Requirement_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Requirements_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Requirements_For_Assignment</name>
        <label>Get All Requirements For Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trial_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trial_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ClinicalTrialRequirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment_Active_Flag</name>
        <label>Update Assignment Active Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Trial_Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>varAllRequirementsComplete</elementReference>
            </value>
        </inputAssignments>
        <object>Trial_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Requirements_For_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trial_Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ClinicalTrialRequirement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAllRequirementsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varRequirementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
