force-app/main/default/flows/FT_Evaluate_Screening_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Candidate_Screening_Logic</name>
        <label>Run Candidate Screening Logic.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EvaluateScreeningRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Screening_Outcome</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>candidateId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parsedJson</name>
            <value>
                <elementReference>$Record.Raw_Resume_Payload__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EvaluateScreeningRules</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Screening_Outcome</name>
        <label>Check Screening Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Route_to_Jurisdiction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apex_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RouteToJurisdiction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_Status_and_Owner</targetReference>
            </connector>
            <label>Route to Jurisdiction</label>
        </rules>
        <rules>
            <name>Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apex_ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateTask</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Manual_Review_Task</targetReference>
            </connector>
            <label>Create Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>candidateFieldsJson</name>
        <dataType>String</dataType>
        <expression>&apos;{ &quot;name&quot;: &quot;&apos; &amp; $Record.Name &amp; &apos;&quot;, &quot;email&quot;: &quot;&apos; &amp; $Record.Email__c &amp; &apos;&quot;, &quot;locale&quot;: &quot;&apos; &amp; $Record.Locale__c &amp; &apos;&quot; }&apos;</expression>
    </formulas>
    <interviewLabel>FT_Evaluate_Screening_AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FT_Evaluate_Screening_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Manual_Review_Task</name>
        <label>Create Manual Review Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>apex_QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Manual Review Required for Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Candidate_Status_and_Owner</name>
        <label>Update Candidate Status and Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>apex_QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Routed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Candidate_Screening_Logic</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Raw_Resume_Payload__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Candidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>apex_ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>apex_QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
