force-app/main/default/flows/HIPAA_Compliance_Update_Candidate_PHI_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Label_All_Steps_Complete</name>
        <label>Label: All Steps Complete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Candidate_PHI_Access_to_Revoked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Revoke Access</defaultConnectorLabel>
        <rules>
            <name>Yes_Grant_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Acknowledgment_Signed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HIPAA_Training_Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_PHI_Access_to_Granted</targetReference>
            </connector>
            <label>Yes, Grant Access</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HIPAA Compliance - Update Candidate PHI Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HIPAA Compliance - Update Candidate PHI Access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Candidate_PHI_Access_to_Granted</name>
        <label>Update Candidate PHI Access to Granted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PHI_Access_Granted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_PHI_Access_to_Revoked</name>
        <label>Update Candidate PHI Access to Revoked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PHI_Access_Granted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Label_All_Steps_Complete</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Acknowledgment_Signed_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HIPAA_Training_Completed_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>HIPAACompliance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
