force-app/main/default/flows/License_Expiration_Daily_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Task_to_Collection</name>
        <label>Add Task to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Expiring_License.Provider__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gfo000001TzAnEAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Expiring_License.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Expiring_License.Provider__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Expiring_License.ExpirationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Expiring_License</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NinetyDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <interviewLabel>License Expiration - Daily Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>License Expiration - Daily Alert</label>
    <loops>
        <name>For_Each_Expiring_License</name>
        <label>For Each Expiring License</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Find_Licenses_Expiring_in_90_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Task_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Notification_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Notification_Tasks</name>
        <label>Create All Notification Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Licenses_Expiring_in_90_Days</name>
        <label>Find Licenses Expiring in 90 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Expiring_License</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <filters>
            <field>ExpirationDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpirationDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>NinetyDaysFromNow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LicenseVerification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Licenses_Expiring_in_90_Days</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-04</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>singleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
