force-app/main/default/flows/Provider_Credential_Calculate_Credential_Scores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Completeness_Score</name>
        <label>Set Completeness Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credential_Score_Completeness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>completenessScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Privilege_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Risk_to_High</name>
        <label>Set Risk to High</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credential_Score_Risk_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Risk_to_Low</name>
        <label>Set Risk to Low</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credential_Score_Risk_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Risk_to_Medium</name>
        <label>Set Risk to Medium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credential_Score_Risk_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Status_to_Completed</name>
        <label>Set_Status_to_Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credentialing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Completeness_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_In_Verification</name>
        <label>Set_Status_to_In_Verification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credentialing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Verification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Completeness_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Initiated</name>
        <label>Set_Status_to_Initiated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Credentialing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Completeness_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Privilege_Status</name>
        <label>Check Privilege Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Risk_to_Low</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Risk</defaultConnectorLabel>
        <rules>
            <name>High_Risk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Privilege_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Privilege_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revoked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Risk_to_High</targetReference>
            </connector>
            <label>High Risk</label>
        </rules>
        <rules>
            <name>Medium_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Privilege_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Risk_to_Medium</targetReference>
            </connector>
            <label>Medium Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Credentialing_Status</name>
        <label>Determine Credentialing Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Completeness_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_To_Initiated_On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credentialing_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Initiated</targetReference>
            </connector>
            <label>Set_To_Initiated_On_Create</label>
        </rules>
        <rules>
            <name>Move_To_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hospital_Privileges_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Malpractice_Insurance_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credentialing_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Completed</targetReference>
            </connector>
            <label>Move_To_Completed</label>
        </rules>
        <rules>
            <name>Move_To_In_Verification</name>
            <conditionLogic>1 AND( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credentialing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hospital_Privileges_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Malpractice_Insurance_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_In_Verification</targetReference>
            </connector>
            <label>Move_To_In_Verification</label>
        </rules>
    </decisions>
    <description>Record-triggered flow (Fast Field Updates) that calculates the completeness and risk level scores when a Provider Credential record is created or updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>completenessScore</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.Hospital_Privileges_Verified__c}, 50, 0) +IF({!$Record.Malpractice_Insurance_Verified__c}, 50, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Provider Credential - Calculate Credential Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider Credential - Calculate Credential Scores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Credentialing_Status</targetReference>
        </connector>
        <object>ProviderCredential__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
