force-app/main/default/flows/Trial_Assignment_Create_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Trial Assignment – Create Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Assignment – Create Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GCP_Training_Requirement</name>
        <label>Create GCP Training Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Protocol_Training_Requirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requirement_Type__c</field>
            <value>
                <stringValue>GCP Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Site__c</field>
            <value>
                <elementReference>$Record.Trial_Site__c</elementReference>
            </value>
        </inputAssignments>
        <object>ClinicalTrialRequirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Protocol_Training_Requirement</name>
        <label>Create Protocol Training Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Label_Create_Safety_Reporting_Requirement</targetReference>
        </connector>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requirement_Type__c</field>
            <value>
                <stringValue>Protocol Training</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ClinicalTrialRequirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Label_Create_Safety_Reporting_Requirement</name>
        <label>Label: Create Safety Reporting Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requirement_Type__c</field>
            <value>
                <stringValue>Safety Reporting Acknowledgment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Assignment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ClinicalTrialRequirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Mark_Checklist_Initialized</name>
        <label>Mark Checklist Initialized</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_GCP_Training_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Checklist_Initialized__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Trial_Assignment__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mark_Checklist_Initialized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checklist_Initialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Trial_Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
